<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.directwebremoting.org/schema/spring-dwr
    http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    
        http://www.springframework.org/schema/fex   
        http://www.springframework.org/schema/fex/spring-fex-1.5.xsd   
        http://www.springframework.org/schema/task    
        http://www.springframework.org/schema/task/spring-task-3.0.xsd"
	default-autowire="byName" default-lazy-init="true">   
	
	<!-- annotation for Spring @Component,@Required,@Autowired -->
	<context:component-scan base-package="com.rice" />
	
	<!-- for using dwr annotation config -->
	<dwr:annotation-config id="dwr_config" />
	<!-- for DWR debug -->
	<dwr:controller id="dwrController" debug="true" />
	<!-- for DWR util.js,engine.js mapping to dwrController -->
	<dwr:url-mapping />
	<!-- annotation for DWR @RemoteProxy,@RemoteMethod,@DataTransferObject -->
	<dwr:annotation-scan scanRemoteProxy="true"
		base-package="com.rice" />

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://192.168.100.132:3306/rice?user=root&amp;password=123456&amp;useUnicode=true&amp;characterEncoding=utf8"></property>
		<property name="username" value="rice"></property>
		<property name="password" value="123456"></property>
		<property name="testOnBorrow" value="true" />
		<property name="validationQuery" value="select 1 from dual" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<value>com.rice.bean</value>
		</property>
	</bean>
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	</beans>